td,th {
    padding: 10 px;
    border: 1px solid #000000;
    padding-left: 15px;
}

table {
    width: 100%; /* Set the table width to 100% of its container */
    border-collapse: collapse; /* Remove default table spacing */
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background: white;
    max-height: 400px;
    width: 400px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .comnetpopup {
    background: white;
    height: 200px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .comnetinput {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .comnetbutton {
    padding: 10px 15px;
    margin-right: 10px;
  }

